/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	background-color: transparent;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 20px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified {
	background-color: #cfd8dc;
	border: 2px solid #cfd8dc;
	border-radius: 5px;
}
.nav-justified > li > a {
	background-color: #78909c;
	color: #eceff1;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
}
.nav-justified > li > a:hover {
	background-color: #607d8b;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
	background-color: #546e7a;
}
.nav-justified > li:first-child > a {
	border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
	border-bottom: 0;
	border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
	.nav-justified > li > a {
		border-right: 1px solid #cfd8dc;
		border-left: 1px solid #cfd8dc;
	}
	.nav-justified > li:first-child > a {
		border-left: 0;
		border-radius: 5px 0 0 5px;
	}
	.nav-justified > li:last-child > a {
		border-right: 0;
		border-radius: 0 5px 5px 0;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
 /* Remove the padding we set earlier */
	.masthead,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
}
